<html>
  <head>
    <title>UCSC GitLab Course Setup Webform</title>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
  </head>
  <body>
    <div class="error">
      <h2>UCSC GitLab Course Setup</h2>
      <h4 id="error_text">Error: {{ error }}</h4>
      <form action="/">
        <input type="submit" id="error_submit" value="Try again!"/>
      </form>
    </div>
  </body>
</html>
